<nav class="flex flex-warp items-center justify-between mx-autp p-4 max-w-screen-2xl">
    <a href="https://github.com/MiguelAngelAvilaRosas1DAW/marvelProject" class="flex items-center">
        <img src="./assets/img/logo.png" class="h-8 mr-3" alt="¡Mi github!">
        <span class="self-center text-2xl font-semibold whitespace-nowrap">Miguel Ángel Ávila Rosas</span>
    </a>
    <ul class="flex flex-row space-x-8 font-medium">
        <li><a class="text-gray-900" href="">Home</a></li>
        <li><a class="text-gray-900" href="">New Hero</a></li>
        <li><a class="text-gray-900" href="">Login</a></li>
        <li><a class="text-gray-900" href="">Register</a></li>
    </ul>
</nav>