<footer class="bg-gray-300">
    <div class="max-w-screen-2xl mx-4 py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
            <a href="https://github.com/MiguelAngelAvilaRosas1DAW/marvelProject" class="flex items-center mb-4 sm:mb-0">
                <img src="./assets/img/logo.png" class="h-8 mr-3" alt="¡Mi github!">
                <span class="self-center text-2xl font-semibold">Miguel Ángel Ávila Rosas</span>
            </a>
            <span>2025-Today!
                <a href="https://github.com/MiguelAngelAvilaRosas1DAW/marvelProject">Miguel Ángel Ávila Rosas</a>. All rights reserved.
            </span>
        </div>
    </div>
</footer>